In [ ]:
for i in range (1, 10):
  print (i)

1
2
3
4
5
6
7
8
9

In [ ]:
100%10 .....>remainder

0

In [ ]:
num=60
if (num%10) == 0:
  print (num)
else:
  print("")

60

In [ ]:
for i in range (0, 100):
  if (i%20) == 0:
    print("divisible", i)
  else:
    print("not divisible", i)

divisible 0
not divisible 1
not divisible 2
not divisible 3
not divisible 4
not divisible 5
not divisible 6
not divisible 7
not divisible 8
not divisible 9
not divisible 10
not divisible 11
not divisible 12
not divisible 13
not divisible 14
not divisible 15
not divisible 16
not divisible 17
not divisible 18
not divisible 19
divisible 20
not divisible 21
not divisible 22
not divisible 23
not divisible 24
not divisible 25
not divisible 26
not divisible 27
not divisible 28
not divisible 29
not divisible 30
not divisible 31
not divisible 32
not divisible 33
not divisible 34
not divisible 35
not divisible 36
not divisible 37
not divisible 38
not divisible 39
divisible 40
not divisible 41
not divisible 42
not divisible 43
not divisible 44
not divisible 45
not divisible 46
not divisible 47
not divisible 48
not divisible 49
not divisible 50
not divisible 51
not divisible 52
not divisible 53
not divisible 54
not divisible 55
not divisible 56
not divisible 57
not divisible 58
not divisible 59
divisible 60
not divisible 61
not divisible 62
not divisible 63
not divisible 64
not divisible 65
not divisible 66
not divisible 67
not divisible 68
not divisible 69
not divisible 70
not divisible 71
not divisible 72
not divisible 73
not divisible 74
not divisible 75
not divisible 76
not divisible 77
not divisible 78
not divisible 79
divisible 80
not divisible 81
not divisible 82
not divisible 83
not divisible 84
not divisible 85
not divisible 86
not divisible 87
not divisible 88
not divisible 89
not divisible 90
not divisible 91
not divisible 92
not divisible 93
not divisible 94
not divisible 95
not divisible 96
not divisible 97
not divisible 98
not divisible 99

In [ ]:
fruits =("apple", "banana", "cherry")
for fruit in fruits:
  print (fruit)

apple
banana
cherry

In [ ]:
count = 0
while count < 100:
  print(count)
  count += 1 # Increment the counter to eventually make the condition false

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99